<%= render 'layouts/header_homepage' %>

<section class="homepage homepage-main">
	<div class="title">
		<div class="title-text">
			<h1>Create Amazing Gift Boards</h1>
			<p>Browse the world largest library of items in a new refreshing way.</p>
		</div>
		<div class="title-cta">
			<a href="/register" class="cta cta-main cta-large">Join Giftr - it's free!</a>
		</div>
	</div>
</section>

<section class="homepage homepage-second">
	<div class="demo">
		<%= image_tag('homepage1.png') %>
	</div>
</section>

<section class="homepage how-it-works">
	<div class="container">
		<div class="row">
			<div class="col-md-4 how">
				<h3>Explore the world's largest library of items</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
			</div>
			<div class="col-md-4 how">
				<h3>Create great looking boards with all the items/gifts</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
			</div>
			<div class="col-md-4 how">
				<h3>Share and interact with your friends</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
			</div>
		</div>
		<div class="how-cta"><a href="/register" class="cta cta-main cta-large">Join Giftr - it's free!</a></div>
		</div>
</section>
