<footer>
	<div class="container">
	    
	    <ul class="footer-row">
		        <li><a class="" href="https://www.facebook.com/guillaume.desa" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
			    <li><a class="" href="https://www.linkedin.com/in/guillaume-desa/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
			    <li><a class="" href="mailto:guillaume.desa@rebelhack.com"><i class="fa fa-envelope fa-2x"></i></a></li>
		</ul>
	    
	    <div class="text-align footer-row">
		    <p>Built with great great love in London</p>
	    </div>
	    <div class="text-align footer-row">
		    <p><i class="fa fa-copyright"> mysite.com</i></p>
	    </div>
  	</div>
</footer>