<header>
	<nav>
		<div class="nav-left">
		<ul>
			<li><a href="/">My Logo</a></li>
		</ul>
		</div>
		<div class="nav-right">
		<ul>
			<li class="header-sep"><%= @friend.user.first_name %> shared <%= @friend.name %>'s Board with you</li>
			<li>
			  <%= link_to('Login', new_user_session_path)  %>  
			</li>
			<li>
			  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/register/share/<%= params[:token_share] %>">Join Giftr</a>
			</li>
		</ul>
		</div>
	</nav>
</header>